body {
  background: #07090f;
}

.card-itemLoader {
  border: none;
  outline: none;
  background: #fff;
  border-radius: 20px;
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.card-itemLoader:hover {
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.text {
  font-size: 15px;
  color: #4b4646;
}

/* .info {
  overflow: auto;
} */

.cost span {
  color: #fb3531;
  font-weight: bold;
  font-size: 20px;
}

.addCart {
  background: #dc3545;
  overflow: hidden;
  object-fit: cover;
}
.addCartError {
  background: #f02f0d;
  overflow: hidden;
  object-fit: cover;
}

.shoe:hover {
  opacity: 0.8;
}

.cursor {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.order-btn-hover {
  padding: 4px 10px;
  display: inline-block;
  border-radius: 50px;
  background-color: #ff0000;
  color: white;
  border: 5px solid white;
  object-fit: cover;
  transition: border 0.2s ease;
}

.order-btn-hover:hover {
  border: 10px solid #45dff3;
  cursor: pointer;
}
